
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Tektur', cursive;
    background-color:#343434;
    color: #F3E5AB;
    display: flex;
    gap: 20px;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 100vh;

}

h1,h3{
    text-shadow: 2px 2px 2px black;
}

.container{
    height: 80vh;
    width: 90vw;

    display: flex;
    gap: 10px;

}


.panel{
    position: relative;
    border-radius: 50px;
    flex: 0.5;


    transition-property: flex;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;


    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    cursor: pointer;

    border: 5px solid black;
}


.panel.active{
    flex: 5;
    transition-property: flex;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;

    background-position: auto;
}


.panel h3{
    position: absolute;
    bottom: 10px;
    right: 25px;

    opacity: 0;
    transition: opacity 0.8s ease-out 0.1s;
}

.panel.active h3{
    opacity: 1;

    transition: opacity 1s ease-in;
}


a{
    text-decoration: none;
    font-style: italic;
    color: #FFFDD0;
}

a :visited{
    color: #F3E5AB;
}


@media(max-width:760px){
    .container :nth-of-type(2),
    .container :nth-of-type(3){
        display: none;
    }
}